.register{
    width: 100vw; //full screen width
    height: 100vh; //full screen height
    background: linear-gradient(
        to bottom, 
        rgba(0,0,0,0) 0%, 
        rgba(0,0,0,0.7) 100%,
    ), 

    linear-gradient(
        to top,
        rgba(0,0,0,0) 0%, 
        rgba(0,0,0,0.7) 100%,
    ),
    //to bottom - makes the bottom part shade darker
    // starting color is transparent, and gets more darker as you go down
    //top is 100% transparent, and then becomes 0% transparent
    url("https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg");
    opacity: 1;
    background-size: cover;
    position: relative;

    .top{
        .wrapper{
            padding: 20px 125px; //height vs width
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .logo{
                height: 40px;
                padding: 5px;
                cursor: pointer;
                user-select: none;
            }

            .loginButton{
                background-color: red; //make box red
                color: white; //text inside white
                border-radius: 5px; //curve the surrounding corners
                border: none; //get rid of border
                padding: 5px 15px; // height x width
                font-size: 16px; //font size
                font-weight: 500; //boldness
                cursor: pointer;
            }

            @media (max-width: 768px) {
                .wrapper {
                  justify-content: space-between;
                  align-items: center;
                }
              
                .logo {
                  height: 30px;
                  cursor: pointer;
                  transform: translateX(-90px);
                  left: 100px;
                
                }

                .loginButton{
                    transform: translateX(90px);
                }
              }
        }
    }

    .container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        pointer-events: none;

        h1{
            font-size: 55px;
            text-align: center;
            pointer-events: auto;
        }

        h2{
            font-size: 25px;
            margin: 30px;
            text-align: center;
            pointer-events: auto;
        }

        p{
            font-size: 18px;
            pointer-events: auto;
            text-align: center;
        }

        .input{
            width: 38%;
            height: 50px;
            display:flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            border-radius: 5px;
            pointer-events: auto;

            input{
                flex: 8; //It takes up 9 times as much space as other elements in the input container
                height: 100%;
                border: 0.5px solid white;
                padding: 0 10px;
                width: 70%;
                color: white;
                font-weight: 400;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 5px;

            }

            input::email{
                color: white;
                opacity: 1;
            }

            input::placeholder {
                color: white;
                opacity: 1;
              }

            .registerButton{
                flex: 3; //It takes up 3 times as much space as other elements in the input container
                height: 101%;
                background-color: red;
                transform: translateX(12px);
                border: none;
                color: white;
                font-size: 18px;
                cursor: pointer;
                border-radius: 5px;
                display: flex;
                align-items: center; // allign in center
                justify-content: center; //places all the items into the center
            }
        }

    }




}